<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP-START -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- BOOTSTRAP-END -->

    <!-- FONTAWESOME-CDN-START -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- FONTAWESOME-CDN-END -->

    <link rel="stylesheet" href="../css/style.css">
    <title>Card</title>
</head>

<body>


    <div class="container text-center text-white">
        <div>
            <h3>A Node JS FullStack Blog Application</h3>
        </div>
        <div>
            <span>LifeStyle</span> | <span>Fashion</span> | <span>Travel</span> | <span>Dream</span>
        </div>
    </div>

    <div class="relative">
        <a type="button" class="btn btn-success" href="/blogs/new"><i class="fas fa-plus-square"></i> ADD NEW POST</a>

        <% if(blogs.length < 1){%>
            <p class="text-white Create">No Post! Create A New Post</p>
            <% } %>

    </div>

    <% blogs.forEach(blog=>{ %>
        <div class="container mt-5">
            <div class="card mt-5">
                <div class="row center-block mt-5">
                    <div class="col-md-4 d-flex align-items-center">
                        <img class=" ml-2 photo" src="/uploads/images/<%= blog.img %>" alt="">
                    </div>
                    <div class="col-md-8 mt-2 mr- mb-4 ">
                        <h2>
                            <%- blog.title %>
                        </h2>
                        <p>
                            <%- blog.description %>
                        </p>
                        <span>
                            <img class="author" src="/uploads/images/<%= blog.img %>" alt="" name="img">
                            <span class="mb-2">AUTHOR: <%= blog.author %></span><br>
                            <span class="ml-5">
                                Created At: <%-blog.createdAt%>
                            </span>
                        </span><br><br>
                        <div class="row">
                            <div class="col-md-3 button">
                                <a href="blogs/edit/<%= blog.id %>" type="button" class="btn btn-primary"><i
                                        class="fas fa-pen"></i>
                                    Edit
                                </a>
                            </div>

                            <div class="col-md-3">
                                <a href="blogs/delete/<%= blog.id %>" type="button" class="btn btn-danger"><i
                                        class="fas fa-trash"></i>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
</body>

</html>